@font-face {
  font-family: "PressStart2P";
  src: url("./fonts/PressStart2P.ttf");
}

body {
  font-family: "PressStart2P";
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#wyswietlacz {
  width: 526px;
  height: 371px;
}

.kompas_E {
  background-image: url(./img/kompas/kompas-E.png);
}

.kompas_ES {
  background-image: url(./img/kompas/kompas-ES.png);
}

.kompas_ESW {
  background-image: url(./img/kompas/kompas-ESW.png);
}

.kompas_EW {
  background-image: url(./img/kompas/kompas-EW.png);
}

.kompas_N {
  background-image: url(./img/kompas/kompas-N.png);
}

.kompas_NE {
  background-image: url(./img/kompas/kompas-NE.png);
}

.kompas_NES {
  background-image: url(./img/kompas/kompas-NES.png);
}

.kompas_NESW {
  background-image: url(./img/kompas/kompas-NESW.png);
}

.kompas_NEW {
  background-image: url(./img/kompas/kompas-NEW.png);
}

.kompas_NS {
  background-image: url(./img/kompas/kompas-NS.png);
}

.kompas_NSW {
  background-image: url(./img/kompas/kompas-NSW.png);
}

.kompas_NW {
  background-image: url(./img/kompas/kompas-NW.png);
}

.kompas_S {
  background-image: url(./img/kompas/kompas-S.png);
}

.kompas_SW {
  background-image: url(./img/kompas/kompas-SW.png);
}

.kompas_W {
  background-image: url(./img/kompas/kompas-W.png);
}

.kompas_EWS {
  background-image: url(./img/kompas/kompas-ESW.png);
}

#kompas {
  display: inline;
  float: left;
  width: 128px;
  height: 60px;
}

#zdj {
  display: inline;
  float: left;
}

#wygenerowane {
  display: block;
  width: 100%;
}

#winbedi {
  background-image: url(./img/bediikimi.png);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#czolowka {
  background-image: url(./img/wstep/czolowka.jpg);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#opisA {
  background-image: url(./img/wstep/opis_A.jpg);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#opisB {
  background-image: url(./img/wstep/opis_B.jpg);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
